@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Rowdies:wght@300&family=Shantell+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Rowdies:wght@300&family=Shantell+Sans:wght@300&display=swap');

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* new addition to original app.css: */

html,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
hgroup,
menu,
nav {
justify-content: space-between
}
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer{
  display: flex;
  align-items: center;
  padding: 30px 0;
}
header {
  justify-content: space-between;
  padding: 30px;
  background-color: aliceblue;
  box-shadow: 0px 6px 0px 0px rgb(198, 220, 239);
  /* box-shadow: 0px 6px 0px 0px  #dc7b91; */
}
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
/* remember to define visible focus styles! 
:focus{
  outline:?????;
} */

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0 auto;
  width:90%;
  /* padding: 10px; */
  max-width: 1240px;
  font-family: "Shantell Sans", sans-serif;
  background-color: #fef6f8;
}

h1 {
  font-size: 40px;
  font-weight: 500;
  color: rgb(9, 98, 175);
  flex: 1;
}

.main-title {
  font-size: 70px;
  font-weight: 300;
  color: rgb(9, 98, 175);
  flex: 1;
}

h2{
  font-size: 30px;
  font-weight: 300;
  color: #dc7b91;
  flex: 1;
}

h5 {
  font-weight: 500;
  line-height: 1.7em;
}

h6 {
  color: #666;
  font-size: 14px;
}

label {
  color: #666;
  font-size: 10px;
  font-weight: 200;
  line-height: 2em;
  text-transform: uppercase;
}

@media (max-width: 480px) {
  h1 {
    margin-bottom: 20px;
  }


}

button {
  font-family: "Amaranth", sans-serif;
  font-size: 20px;
  font-weight: 300;
  /* flex: 1; */
}

.header-line{
  background-color: #fad6de;
  /* background-color: #71bbff; */
}

.cart-drawer{
  /* background-color: #f6f6f6; */
  background-color: #fcf8f9;
}