.cart-item {
    display: flex;
    flex-direction: column;

    text-align: center;
  
    /* padding: 2%; */
    flex: 1 16%;

    /* margin: 40%; */
  
    height: 30px;

    background-color: #fff;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  }