.product-filter {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .sort{
    display: flex;
    /* padding: 10px; */
    justify-content: space-around,

  }

  .collection-sort{
    display: flex;
    flex-direction: column;
    padding: 10px;
  }